.t-container {
  display: flex;
  justify-content: space-between;
  background-color: #edeffa;
  border-radius: 4px;
  height: 40px;
  align-items: center;
  padding: 5px;
  margin-top: 4px;

  .t-reason {
    display: flex;
    flex-direction: column;
  }
  .t-date {
    font-size: 10px;
  }
}
